@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

 html, body {
	width: 100%;
	background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

/*////////// header ////////////*/

header {
    background-color: white;
    padding-bottom: 15px;
}
.logo {
    margin-left: 20%;
    max-width: 200px;
    width: 100%;
}
.search{
  border: solid 2px rgb(167, 167, 167);
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.iconS {
  border: solid 2px rgb(167, 167, 167);
  padding: 5.5px;
  border-radius: 3px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.hidden {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 4;
}
.vis:hover .hidden{
    display: block;   
}
.mob-nav {
  display: none;
}
.offcanvas {
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
  width: 70%;
  position: fixed;
  z-index: 4;
  overflow: auto;
  height: 100%;
  display: none;
}
.mobSearch {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 4;
  height: 100%;
  display: none;
}

/* ///////// calendar /////////// */
.lg-cal {
    margin-left: 4%;
}
.mob-tit{
  font-size: 30px;
}
.calendar{
    max-width: 220px;
    width: 100%;
    border: solid 1px rgb(167, 167, 167);
    border-radius: 5px;
    background-color: white;
    color: rgb(1, 168, 57);
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border-left: solid 10px;
    margin-left: 10px;
    margin-top: 50px;
}
#date{
    border: none;
    color: gray;
    cursor: pointer;
}
.out {
    color: rgb(218, 20, 20);
}
.users {
    color: black;
    max-width: 270px;
    width: 100%;
}
.users span{
    color: gray;
    font-weight: normal;
    font-size: 12px;
    margin-left: 3px;
}

/* ///////////// guests //////////// */

#guests {
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    z-index: 4;
}

input,
textarea {
  border: 1px solid #eeeeee;
  margin: 0;
  outline: none;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group input[type='button'] {
  background-color: #ffffff;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
  font-size: 20px;
  border: solid 1px rgb(167, 167, 167);
  color: rgb(63, 63, 63);
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  text-align: center;
  font-weight: bold;
  color: rgb(63, 63, 63);
  width: 50px;
  display: inline-block;
  font-size: 15px;
  resize: vertical;
  border: solid 1px rgb(167, 167, 167);
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}


/* ////////////////// filter ////////////// */

.filter {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 20px;
  border: solid 1px rgb(216, 215, 215);
}
.filter h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.filter label {
  font-size: 15px;
  padding: 5px;
}
.filter hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* //////////// range /////////// */

#price, #mil {
  font-size: 20px;
}
.range {
  margin-top: 20px;
  width: 100%;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #818181;
}

/* ////////////////// types ////////////////// */

#hide, #less, #showLess, #hideBox {
  display: none;
}
#more, #less, #showMore, #showLess, #all{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}


/* //////////////    cards    ////////////////// */

.cards {
   margin-top: 20px;
}
.card:hover{
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
}
.img-fluid {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
.card-title, .gel {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.card-title:hover, .gel:hover{
  cursor: pointer;
  text-decoration: underline;
}
.cardButton {
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 170, 11);
  max-width: 150px;
  width: 100%;
  padding: 10px;  
}
.cardButton:hover{
  background-color: rgba(255, 170, 11, 0.692);
}
.card4{
  font-size: 13px;
}
.vertical{  
  border: none;
  border-left: 1px solid rgb(221, 221, 221);
  height: 30vh;
  width: 1px;
  margin-top: 50px;
  margin-bottom: 30px;       
}
.badge {
  position: absolute; 
  margin-top: 15px;
  color: white;
  padding: 5px;
  left: 15px;
}
.fav {
  border: none;
  border-radius: 50%; 
  width: 30px; 
  height: 30px; 
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0); 
  position: absolute; 
  margin-top: 10px;
  right: 5px;
}
.fav:hover{
  color: rgb(240, 42, 42);
}

/* //////////// about /////////// */

.about {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.about h6 {
  font-weight: bold;
  font-size: 15px;
}
.about p {
  font-size: 13px;
}

/* ///////////// footer //////////// */

.footerDrop button{
  border-radius: 10px; 
  border: solid 2px rgb(187, 187, 187); 
  background-color: white; 
  padding: 10px; 
  font-weight: bold; 
  max-width: 200px; 
  width: 100%;
  text-align: left;
}
.footerDrop svg{
  float: right;
}

