@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

 html, body {
	width: 100%;
	background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
div {
    background-color: rgb(255, 255, 255);
}
.logo {
    margin-left: 80px;
}
.btn-bg {
    font-size: 18px;
}
.btn-bg:hover {
    background-color: #f2f2f2;
    color: blueviolet;
}
.search {
    border: solid 2px rgb(167, 167, 167);
}
.hidden {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
}
.vis:hover .hidden{
    display: block;
}

/* calendar */

.calendar{
    width: 250px;
    border: solid 2px rgb(167, 167, 167);
    border-radius: 5px;
    background-color: white;
    color: rgb(1, 168, 57);
    font-weight: bold;
    text-align: left;
    padding: 5px;
}
#birthday{
    border: none;
    color: gray;
}
.out {
    color: rgb(218, 20, 20);
}
.users {
    color: black;
}
.users span{
    color: gray;
    font-weight: normal;
    font-size: 15px;
}



